nav{
    display: flex;
    background-color: grey;
    color:aqua;
}
span{
    color: black;
    font-family:arial;
    font-size: 20px;
    font-weight:bold;
    font-style:oblique;
    border: 5px solid rgb(235, 224, 224);
    border-radius: 20px;
    border-bottom: 4px solid rebeccapurple;
    border-top: 4px dashed rebeccapurple;
    border-right: 4px solid gray;
    border-left: 4px solid grey;
}
a{
    font-size: 30px;
    text-align:center;
    text-decoration:none;
    text-transform:capitalize;
    text-shadow: 2px 2px rgb(40, 214, 245);
    border: 5px double rgb(248, 235, 235);
    margin: 1px;
    padding: 126px;
    
}
p{
    text-indent: 200px;
}