*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    height:100%;
    width:100%;
}
nav{
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 30px;
font-family:monospace ;
}
.nav1 h6{
    font-size: 17px;
}
.nav1{
display: flex;
align-items: center;
justify-content:center;
}
#nav2{
display: flex;
align-items: center;
justify-content:center;
gap: 35px;
}
.nav1 img{
    width: 50px;
    height: 50px;
}
#nav2 h5{
    font-size: 20px;
    display: none;
}
@media(max-width:600px){
    nav{
        padding:15px 15px;
    }

    #nav2 h4{
        display: none;
    }
    .nav1 h6{
      font-size: 20px;  
    }
    .nav1 img{
        height:35px;
    }
    #nav2 h5{
        display: block;
    }
}